

.divider-animation {
  animation: appearFromLeft linear 1.5s;
}

@keyframes appearFromLeft{
  from{
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.fade-in-animation{
  animation: fadeIn linear 0.5s;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}